.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 4rem;
  transition: all .5s;
}

.menu-img{
  width: 14rem;
  transition: all .5s;
}

.menu-nav {
  display: flex;
  gap: 4rem;
  font-family: "Raleway";
  color: var(--vDarkBlue);
  font-size: 1.6rem;
  transition: all .5s;
}

@media screen and (max-width: 500px) {
  .menu-img{
    width: 12rem;
  }

  .menu-nav {
    gap: 2rem;
    font-size: 1.4rem;
  }

}

